# Análise de Dividendos Históricos para Balanceamento de Aportes

## Dados Históricos

In [67]:
import pandas as pd
dados = pd.read_csv("dividendos.csv")
dados = dados[ dados['Minha Categoria'] == 'Renda Variavel' ]
display(dados)

,Ativo,Minha Categoria,Recebido,Total investido,Total atual,Data pgto.,Data COM,YOC,DY,Cotas,Preço médio,Cotação,Valor por cota
1,BCFF11,Renda Variavel,"R$ 1,14","R$ 212,95","R$ 202,34",14/02/2020,07/02/2020,0.54 %,0.56 %,2,"R$ 106,4750","R$ 101,17","R$ 0,57"
2,KNRI11,Renda Variavel,"R$ 0,74","R$ 181,35","R$ 180,90",14/02/2020,31/01/2020,0.41 %,0.41 %,1,"R$ 181,3513","R$ 180,90","R$ 0,74"
3,XPLG11,Renda Variavel,"R$ 0,64","R$ 136,72","R$ 134,86",14/02/2020,31/01/2020,0.47 %,0.47 %,1,"R$ 136,7187","R$ 134,86","R$ 0,64"

## Valor Total em Dividendos Recebidos

In [68]:
total_dy = dados['Recebido'].str.replace('R$ ','').str.replace(',','.').astype(float).sum()
print(total_dy)

2.52

## Valor Total em Dividendos Por Ativo

In [69]:
dados['Dividendos'] = dados['Recebido'].str.replace('R$ ','').str.replace(',','.').astype(float)
recebido_por_ativo = dados[['Ativo','Dividendos']].groupby('Ativo').sum().sort_values(by='Dividendos', ascending=False)

display(recebido_por_ativo)

        Dividendos
Ativo
BCFF11        1.14
KNRI11        0.74
XPLG11        0.64